/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
  --background-color: hsla(0, 0%, 98%, 1);
  --item-color: hsla(0, 0%, 100%, 1);
  --font-secondary-color: hsl(0, 0%, 52%);
  --font-primary-color: hsl(200, 15%, 8%);

  /* font-families */
  --ff-nunito: "Nunito Sans", sans-serif;

  /* font-size */
  --fs-1000: 3.2rem;
  --fs-800: 2.4rem;
  --fs-700: 2.2rem;
  --fs-600: 1.8rem;
  --fs-400: 1.6rem;
  --fs-200: 1.4rem;
  --fs-100: 1.2rem;

  /* padding */
  --padding-800: 3.2rem;
  --padding-600: 2.4rem;
  --padding-400: 1.6rem;
  --padding-200: 0.8rem;

  /* margin */
  --margin-800: 3.2rem;
  --margin-600: 2.4rem;
  --margin-400: 1.6rem;
  --margin-200: 0.8rem;
}

body[data-theme="light"] {
  --background-color: hsla(0, 0%, 98%, 1);
  --item-color: hsla(0, 0%, 100%, 1);
  --font-primary-color: hsl(200, 15%, 8%);
  --font-secondary-color: hsl(0, 0%, 52%);
  --icon-primary-color: hsla(0, 0%, 100%, 0);
  --icon-secondary-color: hsl(200, 15%, 8%);
  --icon-search-primary-color: hsl(0, 0%, 52%);
}

body[data-theme="dark"] {
  --background-color: hsl(207, 26%, 17%);
  --item-color: hsl(209, 23%, 22%);
  --font-primary-color: hsl(0, 0%, 100%);
  --font-secondary-color: hsl(0, 0%, 100%);
  --icon-primary-color: hsl(0, 0%, 100%);
  --icon-secondary-color: hsl(0, 0%, 100%);
  --icon-search-primary-color: hsl(0, 0%, 100%);
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set font size */
html {
  font-size: 62.5%;
}

/* Reset margins and paddings */
body,
main,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
  padding: 0;
}

/* set up the body */
body {
  font-family: var(--ff-nunito);
  color: var(--font-primary-color);
  line-height: normal;

  background: var(--background-color);
  /* min-height: 100vh; */
}

/* make images easier to work with */
img,
picutre {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

.header {
  position: fixed;
  top: 0;
  width: 100vw;
  padding: 3rem 1.6rem;
  z-index: 1;

  background-color: var(--item-color);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
}

.header__container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;

  max-width: 128rem;
}

.header__title {
  display: flex;

  font-size: var(--fs-800);
  font-weight: 800;
}

.header__button {
  display: flex;
  align-items: center;

  cursor: pointer;
}

.header__button-icon {
  width: 2rem;
  height: 2rem;

  margin-right: 8px;
}

.header__button-icon > path {
  fill: var(--icon-primary-color);
  stroke: var(--icon-secondary-color);
}

/* .header__button-fill--light {
  fill: none;
  stroke: hsl(207, 26%, 17%);
}

.header__button-fill--dark {
  fill: hsl(0, 0%, 100%);
  stroke: hsl(0, 0%, 100%);
} */

.header__button-text {
  font-size: var(--fs-400);
}

.countries__main {
  padding: 12.8rem 1.6rem 6.4rem;
  background-color: var(--background-color);
}

.countries__container {
  max-width: 128rem;
  min-height: 102.4rem;
  margin: 0 auto;
}

.countries__search {
  display: flex;
  justify-content: space-between;
}

.countries__search-field {
  position: relative;
}

.countries__search-field > svg {
  position: absolute;
  left: 3.2rem;
  top: 1.9rem;
}

.countries__search-field > svg > path {
  fill: var(--icon-search-primary-color);
}

.countries__input {
  width: 48rem;
  height: 5.6rem;
  padding-left: 7.4rem;

  font-size: var(--fs-200);
  color: var(--font-primary-color);

  border: none;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);

  background-color: var(--item-color);
}

.countries__input::placeholder {
  color: var(--font-secondary-color);
}

.countries__input:focus {
  outline: none;
}

.countries__filter {
  position: relative;
  z-index: 0;
}

.countries__filter-button {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 2.4rem;

  font-size: var(--fs-200);
  color: var(--font-primary-color);

  width: 20rem;
  height: 5.6rem;

  border: none;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);

  cursor: pointer;

  background-color: var(--item-color);
}

.countries__filter-button > svg > path {
  fill: var(--icon-secondary-color);
}

.countries__filter-dropdown {
  position: absolute;
  top: 4.7rem;
  left: 0;

  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  width: 20rem;
  padding: 1.6rem 2.4rem;

  color: var(--font-primary-color);
  font-size: var(--fs-200);

  border: none;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);

  background-color: var(--item-color);
}

.countries__filter-dropdown li {
  cursor: pointer;
}

.countries__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 7.4rem;

  justify-items: center;

  margin-top: 4.8rem;
}

.country {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  width: 26.4rem;
  height: 33.6rem;

  border-radius: 5px;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);

  background-color: var(--item-color);

  cursor: pointer;
}

.country__img {
  max-height: 16rem;
  object-fit: cover;
}

.country__data {
  padding: var(--padding-600);

  font-size: var(--fs-200);
}

.country__name {
  font-size: var(--fs-600);
  margin-bottom: var(--margin-400);
}

.country__row {
  margin-bottom: var(--margin-200);
}

.details__main {
  padding: 16rem 1.6rem 8rem;
}

.details__container {
  max-width: 128rem;
  margin: 0 auto;
}

.details__back-button {
  position: relative;

  width: 13.6rem;
  height: 4rem;

  border: none;
  border-radius: 0.6rem;

  font-size: var(--fs-400);
  font-weight: 300;
  color: var(--font-primary-color);

  background-color: var(--item-color);

  cursor: pointer;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.29);
}

.details__back-button > span {
  margin-left: 2rem;
}

.details__back-button > svg {
  position: absolute;
  left: 3.2rem;
  top: 1rem;
}

.details__back-button > svg > path {
  fill: var(--icon-secondary-color);
}

.details__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8.3vw;

  align-items: center;

  margin-top: 8rem;
}

.details__img {
  width: 100%;

  border-radius: 10px;
}

.details__columns {
  display: flex;
  justify-content: space-between;

  margin-top: 2.3rem;
}

.details__column {
  font-size: var(--fs-400);
  font-weight: 300;
  line-height: 3.2rem;
}

.details__name {
  font-size: var(--fs-1000);
  font-weight: 800;
  margin-bottom: var(--margin-400);
}

.details__border-container {
  display: flex;
  align-items: baseline;
  margin-top: 7rem;
}

.details__border-label {
  width: fit-content;
  font-size: var(--fs-400);
  font-weight: 600;
  white-space: nowrap;
  line-height: 2.4rem; /* 150% */

  margin-right: 1.6rem;
  margin-bottom: 1.6rem;
}

.details__no-border {
  font-size: var(--fs-400);
  font-weight: 300;
  color: var(--font-primary-color);
}

.details__neighbour-container {
  flex-wrap: wrap;
}

.details__neighbour {
  min-width: 9.6rem;
  height: 2.8rem;

  margin-right: 1rem;
  margin-bottom: 1rem;

  font-size: var(--fs-200);
  font-weight: 300;
  color: var(--font-primary-color);

  border-radius: 0.2rem;
  border: 0px solid #979797;
  background: var(--item-color);
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);

  cursor: pointer;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

@media (max-width: 1300px) {
  .country {
    width: 100%;
    height: auto;
  }

  .countries__main {
    padding: 12.8rem 1.6rem 6.4rem;
  }

  .countries__items {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 3.9rem;
    margin-top: 3.2rem;
  }
}

@media (max-width: 1000px) {
  .country {
    width: 100%;
    height: auto;
  }

  .countries__main {
    padding: 12.8rem 1.6rem 6.4rem;
  }

  .countries__items {
    grid-template-columns: 1fr 1fr;
    padding: 0 3.9rem;
    margin-top: 3.2rem;
  }

  .details__columns {
    flex-direction: column;
    justify-content: none;
    gap: 3.2rem;

    margin-top: 2.3rem;
  }
}

@media (max-width: 700px) {
  .header__title {
    font-size: var(--fs-200);
  }

  .header__button-text {
    font-size: var(--fs-100);
  }

  .countries__search {
    flex-direction: column;
    gap: 4rem;
  }

  .countries__search-field > svg {
    position: absolute;
    left: 3.2rem;
    top: 1.6rem;

    width: 1.6rem;
    height: 1.6rem;
  }

  .countries__input {
    width: 100%;
    height: 4.8rem;
  }

  .countries__filter-button {
    height: 4.8rem;
  }

  .countries__items {
    grid-template-columns: 1fr;
    padding: 0 3.9rem;
    margin-top: 3.2rem;
  }

  .country {
    width: 100%;
    height: auto;
  }

  .country__img {
    max-height: none;
  }

  .countries__main {
    padding: 10.4rem 1.6rem 6.4rem;
  }

  .details__main {
    padding: 12rem 2.8rem 6.4rem;
  }

  .details__back-button {
    width: 10.4rem;
    height: 3.2rem;

    font-size: var(--fs-200);

    border-radius: 0.2rem;
  }

  .details__back-button > span {
    margin-left: 2rem;
  }

  .details__back-button > svg {
    position: absolute;

    width: 1.8rem;
    height: 1.8rem;

    left: 2.4rem;
    top: 0.7rem;
  }

  .details__content {
    grid-template-columns: 1fr;
    margin-top: 7rem;
  }

  .details__img {
    max-width: none;
    width: 100%;
  }

  .details__name {
    font-size: var(--fs-700);
    font-weight: 800;
    margin-bottom: var(--margin-400);
  }

  .details__column {
    font-size: var(--fs-200);
  }

  .details__border-label {
    margin-bottom: 1.6rem;
  }

  .details__border-container {
    flex-direction: column;
    margin-top: 3.4rem;
  }
}
